<footer>
    <div class="f-info">
      <div class="f-info-socials">
        <a style="color: black;" href="https://www.instagram.com/_teja.teju_/"><i class="fa-brands fa-square-instagram"></i></a>
        <a style="color: black;" href="https://www.instagram.com/_teja.teju_/"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a style="color: black;" href=" https://github.com/tejateju69"><i class="fa-brands fa-square-github"></i></a>
       
      </div>
      <div class="f-info-brand">&copy;Scan & Rescue pvt Ltd</div>
      <div class="f-info-links">
        <a href="#">Privacy </a>.
        <a href="">Terms</a>
      </div>
    </div>
  </footer>