<% layout("/layouts/boilerplate") -%>
<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full height of the viewport */
        padding: 0 15px; /* Padding for some spacing on the sides */
    }
    .card {
        width: 100%;
        border: none !important;
    }
    .card-text {
        width: 100%;
    }
</style>
<body>
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Some quick example text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nesciunt fugiat consectetur sit eum atque, alias sint quibusdam natus voluptate possimus quam rerum enim in aliquam expedita impedit voluptatem architecto.
                    Sequi perspiciatis assumenda unde accusamus nobis facere fuga labore temporibus tempore quasi recusandae nulla quisquam exercitationem eius nesciunt illo nemo vero enim numquam dolore, reiciendis alias tempora similique neque. Modi.
                    Corrupti doloribus modi aut, ipsam ullam, voluptate fugit earum illum sequi voluptatibus quos suscipit tempora odit, consectetur autem! Fugit ab maiores accusantium vel odio aut laboriosam architecto beatae nostrum ex!
                    Qui, a fugit quam consequuntur ad neque voluptatibus sed in ipsum? Vero, dignissimos. Aut facere enim ipsum alias at eaque dolores voluptatem! Corrupti illo temporibus voluptates. Id aut incidunt ipsa.
                    Quaerat incidunt distinctio iste ipsa placeat architecto ex voluptatum tempore repellat similique nisi eveniet rem culpa accusamus soluta quibusdam modi impedit odit vel, ipsam ratione corporis harum. Animi, nemo officia.
                    Minima quia quidem veniam quisquam sed corporis eligendi iste, reiciendis fugit voluptatibus, qui, facere explicabo harum esse inventore perspiciatis ut vel mollitia deleniti quam consequatur perferendis porro! Quod, ipsum odio!
                    Culpa, deleniti provident nobis molestias consequuntur necessitatibus atque obcaecati facilis consequatur, ipsam saepe fugit odio. Deserunt magni cupiditate consequatur minima blanditiis pariatur vero nisi consectetur eum, illum sit. Quo, optio.
                    Vero, est corporis praesentium aperiam rem mollitia inventore ad assumenda! Quis debitis, magni nam iusto perferendis inventore ea? Maxime consectetur quos itaque temporibus tempora tempore quo enim, incidunt saepe dolorem?
                    Corrupti magni omnis, ex voluptas magnam exercitationem dicta, laborum recusandae dolor libero quia accusantium eum delectus, reiciendis a maxime perspiciatis necessitatibus. Minus, perspiciatis eos soluta voluptates nostrum repellat non unde.
                    Facere adipisci officia quis optio incidunt ratione unde voluptatum, nemo debitis error esse aliquid soluta aliquam eum numquam molestiae explicabo beatae. Voluptatum illum excepturi illo cum, dolor iusto laborum magnam.
                    Optio animi, voluptatem necessitatibus expedita dicta error! Magnam hic, vero vitae obcaecati natus, nostrum non ab accusamus fugit totam commodi asperiores, odit reprehenderit minima atque officiis ex rem? Ad, fuga!
                    to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
</body>
