<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
  <div class="col-6">
    <h2>Welcome Back</h2>

    <!-- Flash messages -->
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>
    <% if (success && success.length > 0) { %>
      <div class="alert alert-success">
        <%= success %>
      </div>
    <% } %>

    <form action="/userLogin" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder=""
          required
        />
        <div class="invalid-feedback">Please enter username</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder=""
          required
        />
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
